.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

 :root {
    --web-view-ids: Web_1920__1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Web_1920__1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(243, 213, 3, 1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#DiscoInfernoBot-logos {
    position: absolute;
    width: 746px;
    height: 745px;
    left: 587px;
    top: -110px;
    overflow: visible;
}

#Component_1__1 {
    position: absolute;
    width: 11px;
    height: 50px;
    left: 319px;
    top: 1002px;
    overflow: visible;
}

#contact_us {
    position: absolute;
    width: 199px;
    height: 50px;
    left: 351px;
    top: 1002px;
    overflow: visible;
}

#Rectangle_1 {
    fill: rgba(243, 213, 3, 1);
}

.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 199px;
    height: 30px;
    left: 0px;
    top: 16px;
}

#Contact_us_l {
    left: 35px;
    top: 10px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0, 0, 0, 1);
    stroke: black;
}

#doc {
    position: absolute;
    width: 253px;
    height: 50px;
    left: 45px;
    top: 1002px;
    overflow: visible;
}

#Group_2 {
    position: absolute;
    width: 253px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_2 {
    fill: rgba(243, 213, 3, 1);
}

.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 253px;
    height: 36px;
    left: 0px;
    top: 14px;
}

#Documentation {
    left: 25px;
    top: 10px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0, 0, 0, 1);
}

#github {
    position: absolute;
    width: 648px;
    height: 90px;
    left: 646px;
    top: 495px;
    overflow: visible;
}

#Group_4 {
    position: absolute;
    width: 648px;
    height: 90px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_3 {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 648px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#view_code_on_Github {
    left: 138px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 455px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
}

#n_051326 {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 23px;
    top: 3px;
    overflow: visible;
}

#discord {
    position: absolute;
    width: 700px;
    height: 90px;
    left: 620px;
    top: 635px;
    overflow: visible;
}

#Group_6 {
    position: absolute;
    width: 700px;
    height: 90px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Group_4_x {
    position: absolute;
    width: 700px;
    height: 90px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_3_y {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_3_y {
    position: absolute;
    overflow: visible;
    width: 700px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#add_to_my_discord_server {
    left: 115px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 551px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
}

#n_670325 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 28px;
    top: 4px;
    overflow: visible;
}
