body {
    background-color: #414df7;
}

@font-face {
    font-family: MicrosoftYiBaiti;
    src: url(./Microsoft\ Yi\ Baiti.ttf);
}

#my_logo {
    width: 746px;
    height: 746px;
    position: absolute;
    top: -110px;
    left: 32%;
    right: 30%;
}

#githubButton {
    position: absolute;
    top: 495px;
    left: 35%;
    width: 648px;
    height: 90px;
    background-color: #FFFFFF;
    transition: 0.7s;
    border-radius: 54px;
    border: none;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font: normal bold;
    text-align: center;
    font-weight: bolder;
    word-spacing: normal;
}

#githubPic {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 20px;
    align-items: center;
    background: transparent;
    border-radius: 114px;
    border: none;
    opacity: 1;
    background-color: #FFFFFF;
    transition: 0.7s;
}

#discordButton {
    position: absolute;
    top: 635px;
    left: 37%;
    width: 590px;
    height: 90px;
    background-color: #FFFFFF;
    transition: 0.7s;
    border-radius: 54px;
    border: none;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font: normal bold;
    text-align: center;
    font-weight: bolder;
    word-spacing: normal;
    opacity: 1;
}

#discordPic {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 20px;
    align-items: center;
    background: transparent;
    border-radius: 114px;
    opacity: 1;
    background-color: white;
    transition: 0.7s;
}